<ion-header>
  <ion-toolbar>
    <ion-title>UNDANGAN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <div class="card text-center">
    <div class="card-header">
      Assalamu’alaikum Wr. Wb
    </div>
    <div class="card-body">
      <h5 class="card-title">Rektor Universitas Binaniaga Indonesia</h5>
      <p class="card-text">Mengundang Calon Wisudawan/Wisudawati dalam acara “ Wisuda Program
        Diploma dan Sarjana Universitas Binaniaga Indonesia Tahun 2022” yang akan
       dilaksanakan pada :</p>
       <p class="card-text">Hari / tanggal : Senin, 28 Maret 2022<br>
        Waktu : 08.00 - 12.00 WIB<br>
        Tempat : HOTEL ASTON BOGOR<br>
        Bogor Nirwana Residence
        Jl. Dreded Pahlawan Kota Bogor</p>
        <p class="card-text">Atas kehadirannya Kami ucapkan terima kasih<br>
          Wassalamualaikum Wr. Wb</p>
          <h5 class="card-title">Rektor,<br>
            Dr. Ismulyana Djan, S.E., M.M</h5>
      <a href="https://www.google.com/maps/place/ASTON+Bogor+Hotel+%26+Resort/@-6.636444,106.7954972,15z/data=!4m8!3m7!1s0x0:0xc58549234bdf7d7c!5m2!4m1!1i2!8m2!3d-6.6364773!4d106.7955803" target="_blank" class="btn btn-primary">Google Maps</a>
    </div>
    <div class="card-footer text-muted">
      Untuk kelancaran acara, calon wisudawan/wisudawati dimohon :<br>
- Hadir tepat waktu <br>
- Tidak membawa pendamping <br>
- Undangan berlaku untuk 1 orang <br>
    </div>
  </div>

</ion-content>
