<ion-header>
  <ion-toolbar>
    <ion-title>LOGIN WISUDAWAN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="form-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6">
                <div class="form-container">
                    <h3 class="title"></h3>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <span class="input-icon"><i class="fa fa-lock"></i></span>
                            <input type="password" class="form-control" placeholder="NPM">
                        </div>
                        <ion-tab-button tab="tab2">
                        <button class="btn signin">Login</button>
                      </ion-tab-button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


</ion-content>
