<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
       KARTU WISUDAWAN
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  
    <div class="wrapper">
      <div class="clash-card barbarian">
        <div *ngIf="this.foto == ''" >
          <img src="https://images.vexels.com/media/users/3/166424/isolated/lists/9068d42fc762f2d9915a4dd75cfbbcec-male-graduate-avatar-icon.png" height="280px" />
        </div>
        <div *ngIf="this.foto != ''" >
          <img src="http://akademik.unbin.ac.id/foto/mahasiswa/{{foto}}" height="280px" />
        </div>
        <br>
        <div class="clash-card__level clash-card__level--barbarian">{{nama}}</div>
        <div>
          <ngx-qrcode  [value]="createdCode" ></ngx-qrcode>
        </div>
  
        <div class="clash-card__unit-stats clash-card__unit-stats--barbarian clearfix">
          <div class="one-third">
            <div class="stat">{{nama_singkat}}</div>
            <div class="stat-value">Prodi</div>
          </div>
  
          <div class="one-third">
            <div class="stat">{{kd_kelas}}</div>
            <div class="stat-value">Kelas</div>
          </div> 
  
          <div class="one-third no-border">
            <div class="stat">{{nama_jenjang}}</div>
            <div class="stat-value">Jenjang</div>
          </div>
  
        </div>
  
      </div> <!-- end clash-card barbarian-->
    </div> <!-- end wrapper -->
     


</ion-content>
