<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      SELAMAT DATANG
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  

  <aside class="profile-card">
    <header>
      <!-- here’s the avatar -->
      
        <img src="https://unbin.ac.id/asset/media/about/670x350/logo.png" class="hoverZoomLink">
      
  
      <!-- the username -->
      <h1>
              Wisuda 2022
            </h1>
  
      <!-- and role or location -->
      <h2>
              <b>Universitas Binaniaga Indonesia</b>
            </h2>
  
    </header>
  
    <!-- bit of a bio; who are you? -->
    <div class="profile-bio">
  
      <p>
        Hotel Aston <br>
        Bogor Nirwana Residance <br>
        Senin, 28 Maret 2022
        <img src="https://cdn.kibrispdr.org/data/mahasiswa-vector-png-3.jpg">
      </p>

      
  
    </div>
  
  </aside>



</ion-content>
